body {
  margin: 0;
  padding-left: 20px; /* Add padding to the left side */
  padding-right: 20px; /* Add padding to the right side */
  font-family: Arial, sans-serif;
  background-color: #F5F5F5; /* Creamy Beige */
}

header {
  background-color: #C62828; /* Rich Red */
  color: #FFF;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #7CB342; /* Olive Green */
  padding: 10px;
  text-align: center;
}

nav a {
  color: #FFF;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
}

main {
  padding: 20px;

}

section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 5px;
}

footer {
  background-color: #5D4037; /* Deep Brown */
  color: #FFF;
  padding: 20px;
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}